<header id="navbar-primary" class="navbar-default header" role="navigation">
    <div class="container">

        {{ page.header }}
                
    </div>
</header>


<main role="main">
    <div class="main-content">
        {{page.content}}
    </div> 
    {% if page.content_2 %}
        <div class="content_2_wrapper">
            <div class="content_2">
                {{ page.content_2}}
            </div>
        </div>
    {% endif %}

    {% if page.content_3 %}
        <div class="content_3_wrapper">
            <div class="content_3">
                {{ page.content_3 }}
            </div>
        </div>
    {{% endif %}}

    {{% if page.content_4 %}
        <div class="content_4_wrapper">
            <div class="content_4">
                {{ page.content_4 }}
            </div>
        </div>
    {{% endif %}}

    {{% if page.content_5 %%}}
        <div class="content_5_wrapper">
            <div class="content_5">
                {{ page.content_5 }}
            </div>
        </div>
    {{% endif %}}
</main>

    <footer class="site-footer">
        {% if page.footer_left or page.footer_middle or page.footer_left %}
            <div class="footer-top">
                {{ page.footer_left }}
                {{ page.footer_middle }}
                {{ page.footer_right }}
            </div>
        {% endif %}
                
        {% if page.footer_bottom_left or page.footer_bottom_middle or page.footer_bottom_right %}
            <div class="footer_bottom">
                {{ page.footer_bottom_left }}
                {{ page.footer_bottom_middle }}
                {{ page.footer_bottom_right }}
            </div>        
         {% endif %}
    </footer>








